

# Node / JS
node_modules/
dist/
build/
coverage/
.vite/
.next/
*.log

# Env
.env
.env.*
*.local

# Kubernetes / Secrets
k8s/secret.yaml
k8s/**/secret*.yaml
k8s/**/values*.yaml
k8s/**/.env*
*.pem
*.key

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
=======
# Node / JS
node_modules/
dist/
build/
coverage/
.vite/
.next/
*.log

# Env
.env
.env.*
*.local

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
 6e198c5 ( Added k 8s and load balancer)
=======
# Node / JS
node_modules/
dist/
build/
coverage/
.vite/
.next/
*.log

# Env
.env
.env.*
*.local

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
k8s/secret.yaml


